<% if current_user.present? && current_user == project.user %>
    <%= render "timeline_event_card" do %>
        <% package = event[:package] %>
        <div class="flex space-x-4">
            <p class="grow">A <strong><%= package.package_type_label %></strong> was shipped to you <%= c_time_ago_in_words(event[:date]) %> ago <%= package.fulfillment_type.present? ? "from #{package.fulfillment_type}" : "" %></p>
        </div>
        <div>
            <p>Tracking Number: <% if package.tracking_link.present? %><a href="<%= package.tracking_link %>" target="_blank" rel="noopener noreferrer" class="underline decoration-white/30 underline-offset-2 text-bp-warning hover:decoration-white"><%= package.tracking_number %></a><% else %><%= package.tracking_number %><% end %></p>
        </div>
        <div>
            <p>If a customs officer has asked for a receipt/invoice, you can generate one <a href="<%= customs_receipt_package_path(package) %>" target="_blank" rel="noopener noreferrer" class="underline decoration-white/30 underline-offset-2 text-bp-warning hover:decoration-white">here</a>.</p>
            <p class="text-sm"><em>This document only lists the item value and confirms you were not charged. Hack Club runs on a limited budget and cannot cover or estimate customs, tariff, or import fees, which are determined by your country. Please contact your local authorities for details.</em></p>
        </div>
        <p class="text-sm text-gray-400">ⓘ Only visible to you</p>
    <% end %>
<% end %>