<% if event[:is_most_recent_ship] && current_user.present? && current_user == project.user && (project.design_pending? || project.build_pending?) && (days = project.estimated_review_days) %>
  <%= render "timeline_event_card", icon: "icons/ship.svg" do %>
    <% if event[:user] %>
      <p><%= render "shared/user_inline", user: event[:user] %> submitted <%= project.title %> for review <span title="<%= event[:date] %>"><%= c_time_ago_in_words(event[:date]) %> ago</span></p>
    <% else %>
      <p><%= project.title %> was submitted for review <span title="<%= event[:date] %>"><%= c_time_ago_in_words(event[:date]) %> ago</span></p>
    <% end %>
    <div>
      <p class="text-xl mb-2">Estimated wait time remaining: <strong><%= pluralize(days.ceil, "day") %></strong></p>
      <p><em>This is not super accurate and may change based on number of projects waiting review and the complexity of projects. Asking support will not speed up your review. Please be patient and make sure your project meets all requirements.</em><p>
    </div>
  <% end %>
<% else %>
  <%= render "timeline_event_basic", icon: "icons/ship.svg" do %>
    <% if event[:user] %>
      <p><%= render "shared/user_inline", user: event[:user] %> submitted <%= project.title %> for review <span title="<%= event[:date] %>"><%= c_time_ago_in_words(event[:date]) %> ago</span></p>
    <% else %>
      <p><%= project.title %> was submitted for review <span title="<%= event[:date] %>"><%= c_time_ago_in_words(event[:date]) %> ago</span></p>
    <% end %>
  <% end %>
<% end %>