<!DOCTYPE html>
<html>
  <head lang="en">
    <title id="document-title"><%= content_for(:title) || "Blueprint" %></title>
    <meta name="description" id="meta-description" content="<%= content_for?(:description) ? yield(:description) : "Learn and build cool hardware projects and get funding to make them real! Ends December 1, 2025." %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#0e305b">
    
    <meta property="og:title" content="<%= content_for(:title) || "Blueprint" %>">
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : "Learn and build cool hardware projects and get funding to make them real! Ends December 1, 2025." %>">
    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : image_url("og.jpg") %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:site_name" content="Hack Club Blueprint">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="<%= content_for?(:og_type) ? yield(:og_type) : "website" %>">
    <%= yield :og_tags if content_for?(:og_tags) %>
    <meta name="twitter:card" content="summary_large_image">
    
    <link rel="canonical" href="<%= request.original_url %>">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %> 
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/webp" sizes="32x32" href="/favicon-32x32.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/webp" sizes="16x16" href="/favicon-16x16.webp">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="grainy-bg relative min-h-dvh md:min-h-screen" style="background-color: #6D1010; background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px); background-size: 50px 50px; background-repeat: repeat;" <%= "data-controller=timezone".html_safe if current_user %>>
    <svg width="0" height="0" class="block">
      <filter id="grainy" x="0" y="0" width="100%" height="100%">
        <feTurbulence type="fractalNoise" baseFrequency=".3" numOctaves="2"/>
        <feColorMatrix type="saturate" values="0"/>
        <feBlend in="SourceGraphic" mode="multiply"/>
      </filter>
    </svg>
    <%= render "shared/notice" %>

    <div class="fixed top-8 left-0 z-100">
      <a href="https://hackclub.com?utm_source=blueprint" target="_blank">
        <%= inline_svg 'hackclub-logo.svg', class: 'h-10 md:h-16' %>
      </a>
    </div>
    <div class="fixed top-4 md:top-8 right-4 md:right-8 z-100">
      <% if current_user.present? %>
        <%= render "shared/button", url: home_path, text: "Go home", variant: :outline, class: "bg-bp-dark border-2 px-2 py-1 md:px-4 md:py-2 text-base md:text-xl" %>
      <% else %>
        <%= render "shared/button", url: login_path, text: "Log in!", variant: :outline, class: "bg-bp-dark border-2 px-2 py-1 md:px-4 md:py-2 text-base md:text-xl" %>
      <% end %>
    </div>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
