<% faq = [
  {
    question: "When does this program end?",
    answer: "Currently, the end-date of Blueprint is December 1st"
  },
  {
    question: "How many projects can I make?",
    answer: "As many as you like! We just ask that you only do one of each starter project"
  },
  {
    question: "Who can apply?",
    answer: "Any student currently enrolled in high school!"
  },
  {
    question: "Can I double dip with Summer of Making or any other Hack Club program?",
    answer: "No! Double-dipping is not allowed. If you have coding time for your project, you can journal it, get tickets, and get prizes from the tool bag."
  },
  {
    question: "Do I need prior experience?",
    answer: "Not at all! We welcome beginners and provide resources to help you learn and build your project successfully."
  },
  {
    question: "If I need more money, can I pay myself?",
    answer: "Yes!"
  }
] %>

<!DOCTYPE html>
<html>
  <head>
    <title>Blueprint</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="darkreader-lock">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/webp" sizes="32x32" href="/favicon-32x32.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/webp" sizes="16x16" href="/favicon-16x16.webp">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="grid-bg grainy-bg">
    <svg width="0" height="0" class="block">
      <filter id="grainy" x="0" y="0" width="100%" height="100%">
        <feTurbulence type="fractalNoise" baseFrequency=".3" numOctaves="2"/>
        <feColorMatrix type="saturate" values="0"/>
        <feBlend in="SourceGraphic" mode="multiply"/>
      </filter>
    </svg>
    <%= render "shared/notice" %>
    <main data-controller="landing">
      <div class="fixed top-8 left-0 z-100">
        <a href="https://hackclub.com?utm_source=blueprint" target="_blank">
          <%= inline_svg 'hackclub-logo.svg', class: 'h-10 md:h-16' %>
        </a>
      </div>
      <div class="fixed top-4 md:top-8 right-4 md:right-8 z-100">
        <% if current_user.present? %>
          <%= render "shared/button", url: home_path, text: "Go home", variant: :outline, class: "bg-bp-dark border-2 px-4 py-2 text-base md:text-xl" %>
        <% else %>
          <%= render "shared/button", url: login_path, text: "Log in!", variant: :outline, class: "bg-bp-dark border-2 px-4 py-2 text-base md:text-xl" %>
        <% end %>
      </div>

      <!-- Hero bg -->
      <div class="absolute top-0 left-0 right-0 bg-bottom bg-no-repeat bg-cover pointer-events-none select-none bg-bp-dark" data-landing-target="overlay"
           style="mask-image: linear-gradient(170deg, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 100%);">
        <img src="<%= image_path('hero.webp') %>" aria-hidden="true" class="top-0 left-0 right-0 min-h-screen opacity-0">
      </div>
      <div class="absolute top-0 left-0 right-0 bg-bottom bg-no-repeat bg-cover pointer-events-none select-none" data-landing-target="hero"
           style="background-image: url('<%= image_path('hero.webp') %>'); mask-image: linear-gradient(170deg, rgba(0,0,0,0.4) 100%, rgba(0,0,0,0) 100%);">
        <img src="<%= image_path('hero.webp') %>" aria-hidden="true" class="top-0 left-0 right-0 min-h-screen opacity-0">
      </div>

      <div class="absolute top-0 left-0 right-0 bg-bottom bg-no-repeat bg-cover pointer-events-none select-none -z-10" data-landing-target="heroOutline"
           style="background-image: url('<%= image_path('hero-outline.jpg') %>'); mask-image: linear-gradient(170deg, rgba(0,0,0,0) 100%, rgba(0,0,0,1) 100%);">
        <img src="<%= image_path('hero.webp') %>" aria-hidden="true" class="top-0 left-0 right-0 min-h-screen opacity-0">
      </div>

    
      <div class="relative w-full">
        <img src="<%= image_path('hero.webp') %>" aria-hidden="true" class="top-0 left-0 right-0 min-h-screen opacity-0">
        
        <!-- Hero title -->
        <div class="absolute top-0 left-0 right-0 flex flex-col items-center justify-center min-h-screen space-y-20" data-landing-target="heroContent">
          <div class="space-y-2">
            <div class="text-center text-2xl font-rc-full -mb-3">Hack Club presents</div>
            <div class="relative flex flex-col items-center">
              <h1 class="text-7xl md:text-[10rem]/40 font-rcgl-full">Blueprint</h1>
              <p class="p-0.5 md:p-1 ml-auto text-base -mr-3 md:-mr-8 md:text-4xl font-rc-full rotate-5 bg-bp-dark -mt-3 md:-mt-7">...then build</p>
            </div>
            <div class="text-center text-2xl font-rc-full">
              <h2>Design a hardware project → Get funding to build it</h2>
              <h2>For ages 13 to 18. Ends December 1, 2025</h2>
            </div>
          </div>
          <div class="flex flex-col items-center px-4 py-3 space-y-4 text-sm border-2 md:px-12 md:py-6 md:pb-8 md:text-2xl bg-bp-dark">
            <p class="text-lg md:text-2xl font-rc-full">Start making & get free stickers!</p>
            <div class="flex w-full" data-controller="email-redirect" data-email-redirect-login-url-value="<%= login_path %>">
              <input type="email" data-email-redirect-target="input" class="text-left md:py-1.5 py-1 px-2 md:px-4 appearance-none outline-0 border-2 border-r-0" placeholder="orpheus@hackclub.com" data-action="keydown->email-redirect#checkEnter" />
              <button type="button" data-action="click->email-redirect#go" class="w-full px-6 bg-white border-2 border-l-0 border-white text-bp-dark hover:bg-gray-200 hover:border-gray-200 font-rc-full">Join</button>
            </div>
          </div>
        </div>
        
        <!-- Floating scroll down arrow -->
        <div class="absolute left-0 right-0 flex justify-center z-999" style="top: calc(100vh - 10vh);">
          <div class="float-arrow cursor-pointer" onclick="window.scrollTo({ top: window.innerHeight, behavior: 'smooth' })">
            <svg class="w-12 h-12 md:w-16 md:h-16 text-white drop-shadow-lg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </div>
      </div>

      <div class="pb-12 mx-4 space-y-12 relative">
        <h2 class="text-3xl text-center md:text-5xl">How this works</h2>
        <div class="text-xl flex justify-center w-full">
          <div class="grid grid-cols-5 bg-red- max-w-6xl grow text-center gap-y-12">
            <div class="bg-bp-darker col-span-1 md:col-span-3 p-12 space-y-4">
              <p class="text-3xl font-rc-full">Design a hardware project</p>
              <p>Draft and design up something cool! Build your project digitally first. Examples: custom keyboard, your own 3D printer, or a motor controller.</p>
            </div>
            <div class="md:col-span-2 bg-no-repeat bg-contain scale-110 bg-center wobble-1 hidden md:block hover:scale-130 motion-safe:transition-transform" style="background-image: url('<%= image_path("landing/steps-projects.webp") %>');">
            </div>
            <div class="md:col-span-2 bg-no-repeat bg-contain scale-110 bg-center wobble-2 hidden md:block hover:scale-130 motion-safe:transition-transform" style="background-image: url('<%= image_path("landing/steps-journal.webp") %>');">
            </div>
            <div class="bg-bp-darker col-span-3 p-12 space-y-4">
              <p class="text-3xl font-rc-full">Share your progress</p>
              <p>Share what you've been cooking up with thousands of other teenagers through journals, and open source your design on GitHub.</p>
            </div>
            <div class="bg-bp-darker col-span-3 p-12 space-y-4">
              <p class="text-3xl font-rc-full">Get a grant & earn cool prizes</p>
              <p>Get a grant up to $400 to help you build your project. Earn tickets for each hour you spend building it IRL and redeem them for rewards!</p>
            </div>
            <div class="md:col-span-2 bg-no-repeat bg-contain scale-110 bg-center wobble-3 hidden md:block hover:scale-130 motion-safe:transition-transform" style="background-image: url('<%= image_path("landing/steps-prizes.webp") %>');">
            </div>
          </div>
        </div>
      </div>

      <!-- Divider Image -->
      <div class="w-full py-16">
        <%= image_tag "divider2.webp", class: "w-full h-auto opacity-75" %>
      </div>

      <div class="space-y-12 pt-8">
        <div class="space-y-4">
          <h2 class="text-3xl text-center md:text-5xl">What can I build?</h2>
          <p class="text-xl text-center">Pick one of these tracks! Make as many projects as you can!</p>
        </div>
        <div class="flex justify-center text-xl text-center">
          <div class="grid grid-cols-2 gap-x-12 gap-y-10 max-w-6xl grow">
            <a href="/guides" class="bg-bp-darker p-12 space-y-6 hover:scale-105 hover:-rotate-1 motion-safe:transition-transform">
              <p class="text-3xl font-rc-full">Starter projects</p>
              <p>Best for beginners! Follow one of our guided projects and learn the skills to build hardware!</p>
              <%= render "shared/button", variant: :primary, text: "Get started!", class: "w-full" %>
            </a>
            <a href="/docs" class="bg-bp-darker p-12 space-y-6 hover:scale-105 hover:rotate-1 motion-safe:transition-transform">
              <p class="text-3xl font-rc-full">Custom projects</p>
              <p>Self-guided! Design and journal your own hardware project and make it real!</p>
              <%= render "shared/button", variant: :primary, text: "Get started!", class: "w-full" %>
            </a>
            <div class="space-y-6 col-span-2 flex flex-col items-center">
              <div class="space-y-4">
                <p>Not sure what to build? Browse projects made by other teenagers for inspiration!</p>
                <%= render "shared/button", variant: :outline, text: "Explore projects!", class: "w-full", url: explore_path %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Divider Image -->
      <div class="w-full py-24">
        <%= image_tag "divider2.webp", class: "w-full h-auto opacity-75" %>
      </div>

      <div class="flex justify-center">
        <div class="max-w-4xl text-xl border-bp-warning border-4 grow p-12 bg-bp-warning/10 space-y-8">
          <div class="text-center space-y-2">
            <h2 class="text-3xl text-bp-warning">The last time we did this</h2>
            <p>Stats from <a href="https://hackclub.com/onboard" class="underline">Hack Club OnBoard</a></p>
          </div>
          <div class="grid grid-cols-3 gap-8 text-center">
            <div>
              <p class="font-rc-full text-4xl text-bp-warning">$150,000+</p>
              <p>Given out</p>
            </div>
            <div>
              <p class="font-rc-full text-4xl text-bp-warning">1000+</p>
              <p>Projects made</p>
            </div>
            <div>
              <p class="font-rc-full text-4xl text-bp-warning">7,000+</p>
              <p>Hours logged</p>
            </div>
          </div>
        </div>
      </div>

      <div class="space-y-8 mt-24">
        <h2 class="text-3xl text-center md:text-5xl">FAQ</h2>
        <div class="flex justify-center">
          <div class="max-w-6xl grow grid grid-cols-3 gap-8">
            <% faq.each do |item| %>
              <%= render "shared/card", class: "flex flex-col px-4 py-3 md:px-8 md:py-6" do %>
                <h3 class="mb-3 text-sm font-bold md:text-xl text-bp-success"><%= item[:question] %></h3>
                <p class="text-xs md:text-base"><%= item[:answer] %></p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="text-center text-xl">
          <p>Have more questions? Check out our <a href="/faq" class="underline">full FAQ!</a></p>
        </div>
      </div>

      <div class="flex flex-col items-center space-y-2 text-sm md:text-2xl mt-24">
          <p class="text-lg uppercase md:text-3xl font-rc-full">Get started</p>
          <div class="flex" data-controller="email-redirect" data-email-redirect-login-url-value="<%= login_path %>">
            <input type="email" data-email-redirect-target="input" class="text-left md:py-1.5 py-1 px-2 md:px-4 appearance-none outline-0 border-2 border-r-0" placeholder="orpheus@hackclub.com" data-action="keydown->email-redirect#checkEnter" />
            <button type="button" data-action="click->email-redirect#go" class="w-full px-6 bg-white border-2 border-l-0 border-white text-bp-dark hover:bg-gray-200 hover:border-gray-200 font-rc-full">Join</button>
          </div>
        </div>
    </main>

      <!-- Get Started Section -->
      <section class="w-full max-w-6xl py-12 pb-24">
      </section>

      <footer class="py-8 mx-4">
        <p class="text-white/75">A project by <a href="https://hackclub.com?utm_source=blueprint" class="underline" target="_blank">Hack Club</a> for teenagers, by teenagers</p>
      </footer>

      <!-- Special Thanks Section -->
      <section class="w-full py-8 pb-12">
        <div class="flex flex-col items-center space-y-4">
          <p class="text-lg md:text-xl text-white/75">Special thanks to:</p>
          <div class="flex flex-col md:flex-row gap-8 items-center">
            <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/2840578008f5d3cee90b63128e7f4995a8acf6a9_image.png" alt="IEEE" class="h-12 md:h-16 w-auto">
            <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/df657b4b820cf4a31027de78ddcd1dd1facfccd2_jlcpcb.png" alt="JLCPCB" class="h-12 md:h-16 w-auto">
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
