<% cache [project, project.display_banner, "viral"] do %>
  <div class="flex flex-col h-full space-y-3 md:space-y-4 w-64 md:w-82 flex-shrink-0">
      <%= link_to project_path(project) do %>
          <div class="bg-gray-200 bg-center bg-cover h-24 md:h-28" style="background-image: url('<%= project.display_banner ? url_for(project.display_banner) : nil %>')">
          </div>
      <% end %>
      <div class="flex flex-col space-y-2 grow">
          <%= link_to project_path(project), class: "grow space-y-1" do %>
              <p class="text-lg md:text-2xl font-rc-full"><%= project.title %></p>
              <p class="text-sm md:text-base text-bp-light/60">by <%= project.user.display_name %></p>
          <% end %>
      </div>
  </div>
<% end %>
