<h1 class="text-4xl">Submit project</h1>
<p class="text-xl pb-6">Finished building? Review these details and make sure it's correct.</p>

<%= turbo_frame_tag "form_errors" do %>
  <% if @project.errors.any? %>
    <div class="p-4 mb-6 text-red-900 rounded-md bg-bp-danger">
      <p><strong><%= pluralize(@project.errors.count, "error") %></strong> prevented this project from being saved:</p>
      <ul class="pl-5 list-disc">
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= form_with model: @project, html: { class: "space-y-6", data: { controller: "project-validator", project_validator_project_id_value: @project.id } } do |f| %>
        <%= f.hidden_field :ship, value: true %>

          <div>
            <%= f.label :title, class: "block text-xl font-medium font-rc-full" %>
            <%= f.text_field :title,
                  required: true,
                  class: "input px-3 w-full" %>
          </div>

          <div>
            <%= f.label :description, class: "block text-xl font-medium font-rc-full" %>
            <%= f.text_area :description,
                  required: true,
                  rows: 6,
                  class: "input px-3 mt-1 block w-full" %>
          </div>

          <div>
            <%= f.label :demo_link, "Demo Link", class: "block text-xl font-medium font-rc-full" %>
            <p>Record a video of your project working and share it on YouTube or Reddit.</p>
            <%= f.text_field :demo_link,
                  required: true,
                  class: "input px-3 w-full",
                  placeholder: "https://www.youtube.com/..." %>
          </div>

          <div>
            <%= f.label :demo_picture, "Picture of your project", class: "block text-xl font-medium font-rc-full" %>
            <p>Take a picture of your project! This will also be your project's banner.</p>
            <div data-controller="image-preview">
              <div class="my-4">
                <% if @project.demo_picture.attached? %>
                  <img src="<%= url_for(@project.demo_picture) %>" class="rounded border border-bp-muted/40 max-h-64 object-contain" data-image-preview-target="preview">
                <% else %>
                  <img src="" class="hidden rounded border border-bp-muted/40 max-h-64 object-contain" data-image-preview-target="preview">
                  <span class="text-sm text-gray-400" data-image-preview-target="placeholder">No image selected</span>
                <% end %>
              </div>
              <div class="flex items-center mt-1">
                <%= f.file_field :demo_picture, 
                      direct_upload: true, 
                      accept: "image/*",
                      class: "hidden",
                      data: { 
                        image_preview_target: "input",
                        action: "change->image-preview#preview"
                      } %>
                <button type="button" 
                        class="btn btn-outline" 
                        data-image-preview-target="button"
                        data-action="click->image-preview#trigger">
                  <%= @project.demo_picture.attached? ? "Replace image" : "Choose file" %>
                </button>
                <span class="ml-3" 
                      data-image-preview-target="filename" 
                      data-placeholder="No file selected">No file selected</span>
              </div>
            </div>
          </div>

          <% if @project.ysws != "hackpad" %>
            <div data-controller="cart-screenshots" data-paginate-target="page" data-cart-screenshots-needs-funding-value="<%= @project.needs_funding %>" data-cart-screenshots-has-existing-value="<%= @project.cart_screenshots.attached? %>">
              <div class="pt-2 space-y-2">
                <div>
                  <%= f.label :cart_screenshots, "Cart screenshots", class: "block text-xl font-rc-full" %>
                  <p>Upload screenshots of checkout pages showing the items you will buy and their prices.<p>
                </div>
                <%= f.file_field :cart_screenshots, multiple: true, direct_upload: true, accept: "image/*", class: "input w-full space-x-2", data: { action: "change->cart-screenshots#filesChanged", cart_screenshots_target: "input" } %>
                <p class="hidden text-sm text-bp-danger" data-cart-screenshots-target="error">
                  <% if @project.errors[:cart_screenshots].present? %><%= @project.errors[:cart_screenshots].first %><% end %>
                </p>
                <div class="grid grid-cols-2 gap-3 md:grid-cols-3" data-cart-screenshots-target="previews"></div>
              </div>
            </div>
          <% end %>

          <div>
            <%= f.label :reviewer_note, "Note to reviewer (optional)", class: "block text-xl font-medium font-rc-full" %>
            <p>Anything you'd like the reviewer to know about your project?</p>
            <%= f.text_area :reviewer_note,
                  rows: 3,
                  class: "input px-3 mt-1 block w-full",
                  placeholder: "e.g. I had to substitute a component because..." %>
          </div>

          <div data-controller="funding-amount"
            data-funding-amount-tier-max-cents-value="<%= { 1 => 40000, 2 => 20000, 3 => 10000, 4 => 5000, 5 => 2500 }.to_json %>">
            <% if @project.ysws != "hackpad" %>
              <div class="space-y-6">
                <div>
                  <div>
                    <%= f.label :tier, "What tier should this project be?", class: "block text-xl font-medium font-rc-full" %>
                    <p class="text-lg">We may adjust this as we see fit.<br>If you're unsure what to pick, check the <a href="/docs" target="_blank" class="underline text-bp-warning">tier docs</a>.</p>
                  </div>
                  <div class="w-full text-left text-white select bg-bp-dark">
                    <%= f.select :tier, Project.tier_options, { include_blank: false, selected: @project.tier || 5 }, { class: "text-white bg-bp-dark", style: "color: white; background-color: var(--color-bp-dark);", data: { funding_amount_target: "tierSelect", action: "change->funding-amount#tierChanged" } } %>
                  </div>
                </div>
                <div>
                  <%= f.label :funding_needed, "How much funding do you need?", class: "block text-xl font-medium font-rc-full" %>
                  <p>You do not need to spend up to your tier maximum.</p>
                  <div class="relative">
                    <span class="absolute text-lg -translate-y-1/2 left-3 top-1/2">$</span>
                    <input type="text"
                      placeholder="0.00"
                      data-funding-amount-target="input"
                      data-action="input->funding-amount#formatInput"
                      class="w-full pl-8 input"
                      value="<%= @project.funding_needed_cents > 0 ? '%.2f' % (@project.funding_needed_cents / 100.0) : '' %>">
                    <%= f.hidden_field :funding_needed_cents, data: { funding_amount_target: "hidden" }, value: @project.funding_needed_cents %>
                  </div>
                  <p class="hidden text-sm text-bp-danger" data-funding-amount-target="error"></p>
                </div>
              </div>
            <% end %>

            <div class="mt-6">
              <%= f.submit "Submit it!", class: "btn btn-primary block w-full", data: { funding_amount_target: "submit" } %>
            </div>
          </div>
  <% end %>
