<% content_for :title, "#{@project.title} - Hardware Project - Blueprint" %>
<% content_for :description, @project.description.presence || "Learn and build cool hardware projects and get funding to make them real!" %>
<% if @project.display_banner %>
  <% content_for :og_image, url_for(@project.display_banner) %>
<% end %>
<% content_for :og_type, "article" %>
<% content_for :og_tags do %>
  <meta property="article:published_time" content="<%= @project.created_at.iso8601 %>">
  <meta property="article:modified_time" content="<%= @project.updated_at.iso8601 %>">
  <meta property="article:author" content="<%= user_url(@project.user) %>">
  <meta property="article:section" content="Hardware Projects">
<% end %>

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

<section class="flex flex-col items-center space-y-6 grow">
  <div class="flex flex-col w-full max-w-4xl min-h-full m-8 space-y-12">
    <div class="print:hidden">
      <% if current_user.is_pro? %>
        <%= render "shared/button",
          url: safe_path(params[:return_to]) || explore_path(type: "projects"),
          text: "â† Back to Projects",
          variant: :primary,
          html_options: { data: { controller: "back", action: "click->back#go" } } %>
      <% end %>
    </div>
    <%= render "shared/card", class: "flex flex-col space-y-6" do %>
      <div class="h-48 -mx-8 -mt-6 bg-gray-200 bg-center bg-cover" style="background-image: url('<%= @project.display_banner ? url_for(@project.display_banner) : nil %>')">
      </div>
      <div class="space-y-2">
        <div class="flex items-start">
          <p class="text-3xl grow wrap-break-word font-rc-full"><%= @project.title %></p>
          <div class="space-x-2">
            <% if current_user.present? %>
              <% if current_user == @project.user %>
                <% if @project.can_edit? %>
                  <%= render "shared/button", text: @project.submit_button_text, url: ship_project_path(@project), class: "py-1 px-6" %>
                  <%= render "shared/button", text: "Edit", url: edit_project_path(@project), class: "py-1 px-6" %>
                  <%= render "shared/button", text: "Delete", class: "py-1 px-6", html_options: { data: { controller: "modal", action: "click->modal#show", modal_target_id_value: "delete-project" } } %>
                <% end %>
                <% if @project.awaiting_idv? %>
                  <%= render "shared/button", text: "Awaiting Identity Verification", class: "py-1 px-6", url: idv_path %>
                <% elsif @project.under_review? %>
                  <%= render "shared/button", text: "Under Review", class: "py-1 px-6", html_options: { disabled: true } %>
                <% end %>
              <% else %>
                <% following = @project.followed_by?(current_user) %>
                <%= render "shared/button", text: following ? "Unfollow" : "Follow", url: following ? unfollow_project_path(@project) : follow_project_path(@project), class: "py-1 px-6 cursor-pointer", html_options: { method: :post } %>
              <% end %>
            <% end %>
          </div>
        </div>
        <p class="text-xl wrap-break-word"><%= @project.description.empty? ? "No description yet" : @project.description %></p>
      </div>
      <div class="flex flex-col space-y-1">
        <div class="flex items-center space-x-4">
          <p>Created by <%= render "shared/user_inline", user: @project.user %></p>
          <% if @project.ysws == "hackpad" %>
            <p class="px-3 rounded-full bg-bp-dark">Hackpad</p>
          <% elsif @project.tier %>
            <p class="px-3 rounded-full bg-bp-dark">Tier <%= @project.tier %></p>
          <% end %>
        </div>
        <div class="flex items-center space-x-4">
          <div class="flex items-center space-x-2">
            <%= inline_svg "icons/micro-eye.svg", class: "size-4" %><p class=""><%= pluralize(@project.view_count, "view") %></p>
          </div>
          <div class="flex items-center space-x-2">
            <%= inline_svg "icons/micro-users.svg", class: "size-4" %><p class=""><%= pluralize(@project.follower_count, "follower") %></p>
          </div>
          <% if current_user.present? && current_user == @project.user %>
            <div class="flex items-center space-x-2">
              <%= inline_svg "icons/micro-clock.svg", class: "size-4" %><p class=""><%= pluralize((@project.journal_entries.sum(:duration_seconds) / 3600.0).round(2), "hour") %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex space-x-6">
        <%= render "shared/button", text: @project.repo_link.nil? || @project.repo_link.empty? ? "No Linked Repository" : "View Repository", variant: @project.repo_link.nil? || @project.repo_link.empty? ? :outline : :primary, url: @project.repo_link || "#", class: "w-full text-center #{ @project.repo_link.nil? || @project.repo_link.empty? ? 'pointer-events-none border-dashed' : '' }", html_options: { target: "_blank", rel: "noopener noreferrer" } %>
        <%= render "shared/button", text: @project.demo_link.nil? || @project.demo_link.empty? ? "No Demo Yet" : "View Demo", variant: @project.demo_link.nil? || @project.demo_link.empty? ? :outline : :primary, url: @project.demo_link || "#", class: "w-full text-center #{ @project.demo_link.nil? || @project.demo_link.empty? ? 'pointer-events-none border-dashed' : '' }", html_options: { target: "_blank", rel: "noopener noreferrer" } %>
      </div>
    <% end %>
    <% if current_user.present? && current_user == @project.user %>
      <% if @project.ysws == "hackpad" %>
        <%= render "shared/card", class: "h-64 flex justify-center items-center text-xl" do %>
          <p class="block text-3xl font-rc-full">Journaling is not needed</p>
          <p>Most projects will require a journal, but Hackpad projects do not.</p>
        <% end %>
      <% else %>
        <%= render "journal_form", project: @project %>
      <% end %>
    <% elsif current_user.present? %>
      <%= render 'shared/card' do %>
        <%= render 'kudos/kudos_form', project: @project %>
      <% end %>
    <% end %>
    <%= render "timeline", project: @project %>
  </div>

  <% if current_user.present? && current_user == @project.user %>
    <div 
    data-controller="modal"
    data-action="modal:show-delete-project@window->modal#show modal:hide-delete-project@window->modal#hide modal:toggle-delete-project@window->modal#toggle modal:next-delete-project@window->modal#next"
    class="fixed inset-0 z-50 hidden">
      <div class="fixed inset-0 flex items-center justify-center p-4" data-controller="tasks-slack" data-tasks-slack-target-id-value="slack-join">
        <%= render "shared/card", html_options: { data: { modal_target: "panel" } }, class: "z-50 min-w-xl space-y-0" do %>
          <div class="flex flex-col items-center space-y-8">
            <p class="text-3xl font-rc-full">Delete this project?</p>
            <div class="flex w-full space-x-4 justify-evenly">
              <div class="w-full">
                <%= render "shared/button", text: "Cancel", variant: :outline, class: "w-full", html_options: { data: { controller: "modal", action: "click->modal#hide", modal_target_id_value: "delete-project" } } %>
              </div>
              <div class="w-full">
                <%= render "shared/button", text: "Delete", as: :link, class: "w-full bg-bp-danger border-bp-danger hover:bg-bp-danger-darker hover:border-bp-danger-darker", url: project_path(@project), html_options: { data: { turbo_method: :delete } } %>
              </div>
            </div>
          </div>
        <% end %>
        <div data-modal-target="overlay" class="fixed inset-0 z-40 bg-black/50"></div>
      </div>
    </div>
  <% end %>
</section>